$text_color1: rgb(63, 63, 63);
$color_bg1:rgb(229, 229, 229);
$color_bg2:rgb(188, 255, 190);

$theme: 'light';


@if($theme == 'dark') {
    $color_bg1: rgb(63, 63, 63);
    $text_color1:rgb(229, 229, 229);
    $color_bg2:rgb(49, 71, 50);
}

body {
    margin:0;
    background: $color_bg2;
}

h2 {
    color: $text_color1;
}

.gallery {
    max-width:800px;
    margin:auto;

    &__tabs {
        display:flex;
        justify-content:center;
        background: $color_bg1;
        gap: 30px;
        padding:5px 0;
    }
    &__btn {
        text-decoration:none;
        font-family: ubuntu;
        color: $text_color1;
        background: rgba($text_color1, 0.2);
        border-radius: 5px;
        padding:4px;
        &--active {
            background: rgb(33, 255, 229);

        }
    }

    &__images {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        width:100%;
        img {
            width:100%;

        }
    }
}
