/*
liekam punktu ja atlasam pēc klases
un 
neliekam punktu ja atlasam pēc taga nosaukuma
*/
.example {
  padding: 10px 5px 10px 30px;
  background: rgb(230, 230, 230);
  margin-bottom: 10px;
}

.image_link {
  display: inline-block;
  border-left: 8px solid transparent;
  transition: border-left-color 0.6s;
}

.image_link:hover {
  border-left-color: rgb(255, 228, 107);
  transition: border-left-color 1s;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

label {
  display: inline-block;
  width: 70px;
}

.field {
  padding: 10px;
}

form {
  width: 300px;
  background: #fff;
}

.field input {
  border-radius: 4px;
  border: 1px solid grey;
}

.field input:focus {
  outline: none;
  background: rgba(255, 228, 196, 0.541);
}
input[type="email"],
input[type="password"],
input[type="text"]{

}

/*animation*/


.animation_block,
.animation2_block
 {
  min-width: 300px;
  max-width: 600px;
  height: 60px;
  background: #fff;
  border: 2px solid grey;
  border-radius: 5px;
}





.animation_color {
  height: 100%;
  width: 30px;
  background: bisque;
}

.animation_color:hover {
  animation: animation1 2s;
  width:  100%;
  background: red;

}

@keyframes animation1 {

  0% {
    width: 30px;

  }
  30% {
    width: 50px;
    color: aqua;
  }
  100% {
    width: 100px;
  }
}

.animation_filler
{
  height: 100%;
  width: 100%;
  background: rgb(77, 158, 179);
}

@keyframes animation2 {

  0% {
    width: 100%;
    background: pink;

  }
  
  100% {
    width: 0;
    background: pink;
  }
}